<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>P9_01_Le_Baluchon.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>24E956B9263C4F2C00C8EEB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24E956CF263C4F3100C8EEB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24E956DA263C4F3200C8EEB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
